// 2016-09-29
form.dfe_square {
	.control {
		height: 32px;
	}
	// 2016-09-29
	// Умышленно не помещаем это правило внутрь .control,
	// потому что sq-postal-code-iframe находится вне .control.
	iframe.dfe-square {
		border: 1px solid #c2c2c2;
		&[name='sq-cvv-iframe'] {margin-right: 10px;}
		&[name='sq-postal-code-iframe'] {display: none;}
	}
}