<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<square>
<!-- 2016-03-06
How is a payment method's getConfigPaymentAction() used? https://mage2.pro/t/724
How is a payment method's authorize() used? https://mage2.pro/t/707
How is a payment method's capture() used? https://mage2.pro/t/708
Нужно писать именно «authorize_capture», а не «capture»:
https://github.com/magento/magento2/blob/6ce74b2/app/code/Magento/Payment/Model/Method/AbstractMethod.php#L33
https://github.com/magento/magento2/blob/6ce74b2/app/code/Magento/Sales/Model/Order/Payment.php#L411-L433
-->
				<actionForNew>authorize_capture</actionForNew>
				<actionForReturned>authorize_capture</actionForReturned>
<!--
2016-11-13
Square currently supports only USD and CAD:
https://www.sellercommunity.com/t5/Developers-API/Connect-API-v2-How-can-I-know-the-smallest-denomination-of-a/m-p/20372#M11
2017-10-05 Square now supports JPY, GBP, and AUD: https://mage2.pro/t/4634
-->
				<currency>USD</currency>
				<description>{order.id}</description>
				<description_rules>
					<locations>
						<merchant>
							<shown>1</shown>
						</merchant>
					</locations>
					<maxLength>
						<title>The Square API documentation: «Connect API v2 Reference» → «Endpoints» → «Transactions» → «Charge». See the «note» parameter.</title>
						<url>https://docs.connect.squareup.com/api/connect/v2#endpoint-charge</url>
						<value>60</value>
					</maxLength>
				</description_rules>
				<requireBillingAddress>1</requireBillingAddress>
				<title>Bank Card</title>
				<title_backend>Square</title_backend>
			</square>
		</df_payment>
        <payment>
            <dfe_square>
<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\Square\Method</model>
            </dfe_square>
        </payment>
    </default>
</config>
