<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<square>
				<requireBillingAddress>1</requireBillingAddress>
<!--
2016-11-13
Square на сегодняшний день поддерживает 2 валюты: USD и CAD.
https://www.sellercommunity.com/t5/Developers-API/Connect-API-v2-How-can-I-know-the-smallest-denomination-of-a/m-p/20372#M11
-->
				<currency>USD</currency>
				<payment_action>authorize_capture</payment_action>
				<title>Bank Card</title>
				<title_backend>Square</title_backend>
			</square>
		</df_payment>
        <payment>
            <dfe_square>
				<model>Dfe\Square\Method</model>
            </dfe_square>
        </payment>
    </default>
</config>
