<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<type name='Magento\Checkout\Model\CompositeConfigProvider'>
		<arguments>
			<argument name='configProviders' xsi:type='array'>
				<item name='dfe_square' xsi:type='object'>Dfe\Square\ConfigProvider</item>
			</argument>
		</arguments>
	</type>
	<type name='Magento\Payment\Model\CcGenericConfigProvider'>
		<arguments>
			<argument name='methodCodes' xsi:type='array'>
				<item name='dfe_square' xsi:type='string'>dfe_square</item>
			</argument>
		</arguments>
	</type>
	<virtualType name='Dfe\Square\ConfigProvider' type='Df\StripeClone\ConfigProvider'>
		<arguments><argument name='module' xsi:type='string'>Dfe_Square</argument></arguments>
	</virtualType>
</config>