<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2016-11-13
Square currently supports only USD and CAD:
https://www.sellercommunity.com/t5/Developers-API/Connect-API-v2-How-can-I-know-the-smallest-denomination-of-a/m-p/20372#M11
-->
	<virtualType name='Dfe\Square\Validator\Currency' type='Df\Framework\Validator\Currency'>
		<arguments><argument name='iso3' xsi:type='string'>CAD,USD</argument></arguments>
	</virtualType>
</config>