<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
<!--
2015-09-25
1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
в английском алфавите.
-->
			<group
				id='square'
				translate='label'
				type='text'
				sortOrder='1917'
				showInDefault='1'
				showInWebsite='1'
				showInStore='1'
			>
				<label>Square</label>
				<dfExtension>Dfe_Square</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='1'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
<!--
2016-11-13
Square на сегодняшний день поддерживает 2 валюты: USD и CAD.
https://www.sellercommunity.com/t5/Developers-API/Connect-API-v2-How-can-I-know-the-smallest-denomination-of-a/m-p/20372#M11
-->
					<dfValidator>Dfe\Square\Validator\Currency</dfValidator>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/square' target='_blank'>Square</a>» payment extension?]]></comment>
				</field>
				<field
					id='title'
					translate='label'
					type='text'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='test'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='3'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/2097' target='_blank'>The test bank cards</a>.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='testApplicationID'
					translate='label'
					sortOrder='4'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox Application ID</label>
					<validate>required-entry validate-length maximum-length-37 minimum-length-37</validate>
					<comment><![CDATA[<a href='https://mage2.pro/t/2103' target='_blank'>Where to find it?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testAccessToken'
					translate='label'
					type='obscure'
					sortOrder='5'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox Access Token</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>required-entry</validate>
					<comment><![CDATA[<a href='https://mage2.pro/t/2104' target='_blank'>Where to find it?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testLocation'
					translate='label'
					type='select'
					sortOrder='6'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox Location</label>
					<source_model>Dfe\Square\Source\Location</source_model>
					<comment><![CDATA[]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
<!--
2016-09-30
Unlike all the other payment services,
Square does not allow to populate the payment form fields programmatically,
so the Magento 2 Square extension does not contain
the standard «Prefill the Payment Form with Test Data?» option,
and you should to fill the payment form manually each time.
https://mage2.pro/t/2097
https://docs.connect.squareup.com/articles/adding-payment-form/#populatingfieldsprogrammatically
-->
				<field
					id='liveApplicationID'
					translate='label'
					sortOrder='6'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Application ID</label>
					<validate>required-entry validate-length maximum-length-29 minimum-length-29</validate>
					<comment><![CDATA[<a href='https://mage2.pro/t/2101' target='_blank'>Where to find it?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveAccessToken'
					translate='label'
					type='obscure'
					sortOrder='7'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Personal Access Token</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>required-entry</validate>
					<comment><![CDATA[<a href='https://mage2.pro/t/2102' target='_blank'>Where to find it?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveLocation'
					translate='label'
					type='select'
					sortOrder='6'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Live Location</label>
					<source_model>Dfe\Square\Source\Location</source_model>
					<comment><![CDATA[]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='webhook'
					translate='label'
					type='Df\Framework\Form\Element\Webhook'
					sortOrder='8'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Webhook</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/2107' target='_blank'>set it in your Square account</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='webhookSignatureKey'
					translate='label'
					type='obscure'
					sortOrder='9'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Webhook Signature Key</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>required-entry</validate>
					<comment><![CDATA[<a href='https://mage2.pro/t/2108' target='_blank'>Where to find it?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
					</depends>
				</field>
<!--
2016-11-13
Square на сегодняшний день поддерживает 2 валюты: USD и CAD.
https://www.sellercommunity.com/t5/Developers-API/Connect-API-v2-How-can-I-know-the-smallest-denomination-of-a/m-p/20372#M11
-->
				<field
					id='currency'
					translate='label'
					type='Df\Directory\FormElement\Currency'
					dfValues='USD,CAD'
					sortOrder='10'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Payment Currency</label>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='requireBillingAddress'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='11'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Require the billing address?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If <b>checked</b>, Magento will require the billing address. It is the default Magento behaviour.<br/>If <b>unchecked</b>, Magento will not require the billing address, and even will not ask for it.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='min_order_total'
					translate='label'
					type='text'
					sortOrder='12'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					translate='label'
					type='text'
					sortOrder='13'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					translate='label'
					type='select'
					sortOrder='14'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
					sortOrder='15'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>
<!--
2016-03-08
«The negative syntax for a backend config field <depends> condition»
https://mage2.pro/t/329
-->
						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>